
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header {
    background-color: #8c52ff;
    color: #4e269f;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
.navegador{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    text-decoration: none;
}

nav li{
    background-color: #e0d0ff;
    font-family: "Open Sans", sans-serif;
    padding: 10px 10px;
    margin: 10px;
    text-decoration: none;
    color: #4e269f;
    list-style: none;
    text-align: center;
    margin-left: 70px;
    font-size: 25px;
    line-height: 40px;
    width: 250px;
    border-radius: 20px;
    box-shadow: #4e269f 4px 4px 4px 4px;
}
.logonav{
    height: 150px;
    width: 150px;
    margin-left: 20px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('images/circulo.png');
    margin-left: -50px;
    margin-top: 20px;
    background-size: cover;
    position: absolute;
  }
  
//* Aquí comienza el body *//

body{
    background-color: #f0f0f0;
}

#loultimo{
    color: #4e269f;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    display: inline-block;
    align-items: center;
    font-size: 50px;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-inline-start: 10%;
}

.box1{
    border:#8c52ff, 5px, solid;
    padding: 3px;
    margin-inline-start: 2%;
    width: 520px;
    height: 520px;
    align-items: center;
    text-wrap: wrap;
    
}
#imgultimo{
    height: 250px;
    width: 400px;
    margin-top: 10%;
    margin-inline-start: 10%;
    
}
#ultimotitulo{
    font-family: "Open Sans", sans-serif;
    color: black;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}
#ultimotext{
    color: #8c52ff;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-wrap: wrap;

}
.presentacion{
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    width: 50%;
    margin-left: 35%;
    margin-top: -45%;
    text-wrap: wrap;

}
#titulopresentacion{
    color: #4e269f;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}
#textopresentacion{
    font-size: 18px;
    font-weight: normal;
    text-align: justify;
    overflow: inherit;
}
form{

    font-family: "Open Sans", sans-serif;
    width: 540px;
    display: inline-block;
    margin-inline-start: 2%;
    margin: 2%;
    justify-content: space-between;
}
fieldset{
    background-color: #e0d0ff;
}

#botonEnvio{
    background-color: #8c52ff;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-inline-start: 2%;
}
#botonReset{
    background-color: #8c52ff;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-inline-start: 2%;
    
}

footer{
    background-color: #8c52ff;
    color: white;
    font-family: "Open Sans", sans-serif;
    justify-content: space-between;
    padding: 10px;
}

footer img{
    height: 35px;
    width: 35px;
}

footer a{
    text-decoration: none;
    color: white;
}

.footerbox{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
} 
#rss{
    margin: 30px;
    font-size: 22px;
}
#logotwitter{
    margin-inline-start: 300px;
    margin-top: -50px;
}
#twitter{
    margin-inline-start: 400px;
    margin-top: -50px;
}
#logoig{
    margin-inline-start: 600px;
    margin-top: -50px;
}
#ig{
    margin-inline-start: 700px;
    margin-top: -50px;
}
#ayuda{
    margin-inline-start: 1200px;
    margin-top: -70px;
    font-size: 22px;
}
#ayudanum{
    font-size: 15px;
    margin-inline-start: 1400px;
    margin-top: -30px;
}
#logofooter{
    margin-inline-start: 1600px;
    margin-top: -80px;
}